<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.altersense.taskapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="in.altersense.taskapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.altersense.taskapp.permission.C2D_MESSAGE" />

    <application
        android:name=".components.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <receiver android:name=".components.ReminderNotifier" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".components.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="in.altersense.taskapp" />
            </intent-filter>
        </receiver>
        <receiver android:name=".components.NetworkStateChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".components.GcmMessageHandler" />

        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/TasksAtHandTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTaskActivity"
            android:label="@string/title_activity_create_task"
            android:theme="@style/CreateTasksTheme" >
        </activity>
        <activity
            android:name=".TaskActivity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/TaskTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/GroupActivityTheme" >
        </activity>
        <activity
            android:name=".UserRegistrationActivity"
            android:label="@string/title_activity_user_registration"
            android:theme="@style/RegisterTheme" >
        </activity>
        <activity
            android:name=".UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:theme="@style/RegisterTheme" >
        </activity>
        <activity
            android:name=".TaskFragmentsActivity"
            android:theme="@style/TaskTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.altersense.taskapp.DashboardActivity" />
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:screenOrientation="portrait"
            android:theme="@style/TaskTheme" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/RegisterTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserLoginActivity" />
        </activity>
    </application>

</manifest>
